{{#section 'js'}}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
  $(function () {

    $('#articleForm').validate({
      rules: {
        id: {
          required: true
        },
        name: {
          required: true,
          remote: {
            url: '/admin/category/is-available'
          }
        },
      },
      messages: {
        id: {
          required: 'Your title is required.'
        },
        name: {
          required: 'Your summary is required.',
          remote: 'this Category Name has been on data'
        },
      },
      errorElement: 'small',
      errorClass: 'help-block text-danger',
      highlight: function (e) {
        $(e).removeClass('is-valid').addClass('is-invalid');
      },
      unhighlight: function (e) {
        $(e).removeClass('is-invalid').addClass('is-valid');
      }
    });
  })
</script>
{{/section}}
   

    <!-- ##### Breadcrumb Area Start ##### -->
    <section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(../../img/bg-img/40.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>EDIT CATEGORY</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcrumb Area End ##### -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
         <li class="nav-item">
        <a class="nav-link disabled" href="/admin">MANAGE</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/article">Article</a>
        </li>
        <li class="nav-item">
        <a class="nav-link"  href="/admin/category">Category</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/tag">Tag</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/user">User</a>
        </li>
    </ul>
    </nav>
    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="mag-breadcrumb py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                           <li class="breadcrumb-item active" aria-current="page">Administration</li>
                            <li class="breadcrumb-item active" aria-current="page">Category</li>
                             <li class="breadcrumb-item active" aria-current="page">Edit</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Video Submit Area Start ##### -->
    <!-- <div id="toolbar"></div> -->
    <div id="editor"></div>
    <div class="video-submit-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <!-- Video Submit Content -->
                    <div class="video-submit-content mb-50 p-30 bg-white box-shadow">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h5>Submit your article</h5>
                        </div>

                        <div class="video-info mt-30">
                            
                            <form id="articleForm" method="POST" action="/admin/category/update">
                               
                                <div class="form-group">
                                    <label for="txtCatID">#ID</label>
                                    <input readonly type="text" class="form-control" id="txtCatID" name="id" value="{{this.cate.id}}">
                                </div>
                                <div class="form-group">
                                    <label for="title">Category name</label>
                                    <input type="text" class="form-control" id="title" name="name" value="{{this.cate.name}}" required/>
                                </div>
        
                                {{!-- <div>
                                    <input type="file" name="file" placeholder="chọn hình">
                                </div> --}}
                                <button type="submit" class="btn mag-btn mt-30"><i class="fa fa-cloud-upload"></i> Save Change</button>
                            </form>
                          
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Video Submit Area End ##### -->
