{{#section 'css'}}
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}

{{#section 'js'}}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
  $(function () {

    $('#txtDOB').datetimepicker({
      format: 'd/m/Y',
      timepicker: false,
      mask: true,
    });

    $('#registerForm').validate({
      rules: {
        username: {
          required: true,
          remote: {
            url: '/account/is-available'
          }
        },
        password: {
          required: true,
          minlength: 6
        },
        confirm: {
          required: true,
          equalTo: $('[name="password"]')
        },
        name: {
          required: true,
        },
        email: {
          required: true,
          email: true
        },
        dob: {
          required: true
        }, 

      },
      messages: {
        username: {
          required: 'Your username is required.',
          remote: 'Your username has been taken, please take another.'
        },
        password: {
          required: 'Your password is required.',
          minlength: 'Your password must have at least 6 characters.'
        },
        confirm: {
          required: 'Your password does not match.',
          equalTo: 'Your password does not match.'
        },
        name: {
          required: 'Valid full name is required.',
        },
        email: {
          required: 'Please enter a valid email address.',
          email: 'Please enter a valid email address.'
        },
        dob: {
          required: 'Valid date of birth is required.',
        },

      },
      errorElement: 'small',
      errorClass: 'help-block text-danger',
      highlight: function (e) {
        $(e).removeClass('is-valid').addClass('is-invalid');
      },
      unhighlight: function (e) {
        $(e).removeClass('is-invalid').addClass('is-valid');
      }
    });
  })
</script>
{{/section}}


    <!-- ##### Breadcrumb Area Start ##### -->
    <section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(../img/bg-img/40.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>ADD USER</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcrumb Area End ##### -->


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
         <li class="nav-item">
        <a class="nav-link disabled" href="/admin">MANAGE</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/article">Article</a>
        </li>
        <li class="nav-item">
        <a class="nav-link"  href="/admin/category">Category</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/tag">Tag</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/user">User</a>
        </li>
    </ul>
    </nav>



    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="mag-breadcrumb py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Administrator</li>
                            <li class="breadcrumb-item active" aria-current="page">User</li>
                            <li class="breadcrumb-item active" aria-current="page">Add</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### About Us Area Start ##### -->
    <div class="video-submit-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <!-- Video Submit Content -->
                    <div class="video-submit-content mb-50 p-30 bg-white box-shadow">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h5>Add User</h5>
                        </div>

                        <div class="video-info mt-30">
                                <form novalidate action="/admin/user/add" method="POST" id="registerForm">
                                    <div class="card shadow">
                                       
                                        <div class="card-body">
                                        <h5 class="mb-3">Account</h5>
                                        <div class="form-group">
                                            <label for="txtUsername">Username</label>
                                            <input type="text" class="form-control" id="txtUsername" name="username">
                                        </div>
                                       
                                        <div class="form-group">
                                            <label for="txtPassword">Password</label>
                                            <input type="password" class="form-control" id="txtPassword" name="password">
                                        </div>
                                        <div class="form-group">
                                            <label for="txtConfirm">Confirm</label>
                                            <input type="password" class="form-control" id="txtConfirm" name="confirm">
                                        </div>

                                        <hr class="mb-4">
                                        <h5 class="mb-3">Information</h5>
                                        <div class="form-group">
                                            <label for="txtName">Name</label>
                                            <input type="text" class="form-control" id="txtName" name="name">
                                        </div>
                                        <div class="form-group">
                                            <label for="txtEmail">Email</label>
                                            <input type="text" class="form-control" id="txtEmail" name="email">
                                        </div>
                                        <div class="form-group">
                                            <label for="txtDOB">Date of birth</label>
                                            <input type="text" class="form-control" id="txtDOB" name="dob">
                                        </div>
                                        <div class="form-group">
                                            <label for="role">Role</label>
                                            <select name="role" class="form-control" id="role">
                                                <option value="subcriber">Subcriber</option>
                                                <option value="writer">Writer</option>
                                                <option value="editor">Editor</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="catagory">Catagory (for Editor)</label>
                                            <select name="idCategory" class="form-control" id="catagory">
                                                {{#each this.cate}}
                                                <option value="{{id}}">{{name}}</option>     
                                              {{/each}}
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="txtNickname">NickName (for Writer)</label>
                                            <input type="text" class="form-control" id="txtNickname" name="nickname">
                                        </div>

                                        </div>
                                        <div class="card-footer text-right">
                                        <button type="submit" class="btn btn-lg btn-success btn-block">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            Register
                                        </button>
                                        </div>
                                    </div>
                                    </form>


                            </div>
                        
                        </div>
                        </div>
                        </div>
                        
                    
                    </div>
                    </div>
                    </div>
</section>
<!-- ##### About Us Area End ##### -->

