<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    Title
    <title>Mag</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    Favicon 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="icon" href="../img/core-img/favicon.ico">
    
    Stylesheet 
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/manhlinh.css">
</head>

<body> -->
    
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
     <header class="header-area">

        <!-- Navbar Area -->
        <div class="mag-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="magNav">

                    <!-- Nav brand -->
                    <a href="index.html" class="nav-brand"><img src="../img/core-img/logo.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Nav Content -->
                    <div class="nav-content d-flex align-items-center">
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li class="active"><a href="index.html">Home</a></li>
                                    <li><a href="danhsachbaiviet.html">News</a></li>
                                    <li><a href="danhsachbaiviet.html">Bussiness</a>
                                        <ul class="dropdown">
                                            
                                            <li><a href="danhsachbaiviet.html">Agricultural</a></li>
                                            <li><a href="danhsachbaiviet.html">Seafood</a></li>
                                            
                                        </ul>
                                    </li>
                                    <li><a href="danhsachbaiviet.html">Life style</a>
                                        <ul class="dropdown">
                                            
                                            <li><a href="danhsachbaiviet.html">Cutural</a></li>
                                            <li><a href="danhsachbaiviet.html">Films</a></li>
                                            <li><a href="danhsachbaiviet.html">Travel</a></li>
                                            <li><a href="danhsachbaiviet.html">Fashion</a></li>
                                             <li><a href="danhsachbaiviet.html">Health</a></li>
                                            <li><a href="danhsachbaiviet.html">Food</a></li>
                                        </ul>
                                    </li>

                                   <li><a href="danhsachbaiviet.html">Sciencse</a>
                                        <ul class="dropdown">
                                            
                                            <li><a href="danhsachbaiviet.html">Invention</a></li>
                                            <li><a href="danhsachbaiviet.html">Technology</a></li>
                                            
                                        </ul>
                                    </li>

                                    <li><a href="danhsachbaiviet.html">Synthetic</a>
                                        <div class="megamenu">
                                            
                                            <ul class="single-mega cn-col-3">
                                                <li><a href="danhsachbaiviet.html">Home</a></li>
                                                <li><a href="danhsachbaiviet.html">News</a></li>
                                                <li><a href="danhsachbaiviet.html">Bussiness</a></li>
                                                <li><a href="danhsachbaiviet.html">Agricultural</a></li>
                                                <li><a href="danhsachbaiviet.html">Seafood</a></li>
                                            </ul>

                                            <ul class="single-mega cn-col-3">
                                                <li><a href="danhsachbaiviet.html">Life style</a></li>
                                                <li><a href="danhsachbaiviet.html">Cutural</a></li>
                                                <li><a href="danhsachbaiviet.html">Films</a></li>
                                                <li><a href="danhsachbaiviet.html">Travel</a></li>
                                                <li><a href="danhsachbaiviet.html">Fashion</a></li>
                                                
                                            </ul>
                                            <ul class="single-mega cn-col-3">
                                                <li><a href="single-post.html">Health</a></li>
                                                <li><a href="danhsachbaiviet.html">Food</a></li>
                                                <li><a href="danhsachbaiviet.html">Secience</a></li>
                                                <li><a href="danhsachbaiviet.html">Invention</a></li>
                                                <li><a href="danhsachbaiviet.html">Technology</a></li>  
                                            </ul>
                                        </div>
                                    </li>
                                     <li><a href="timkiem.html">Search</a> </li>
                                     
                                    <li><a href="login.html" class="login-btn"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                                    
                                    <li>
                                        <div class="top-meta-data d-flex align-items-center" class="classynav">
                                           <a href="#" class="submit-video">
                                            <i class="fas fa-align-justify" ></i></a>
                                        </div>
                                        <ul class="dropdown">
                                            
                                            
                                            <button class="dropdown-item" type="button">Function 1</button>
                                            <button class="dropdown-item" type="button">Function 2</button>
                                            <button class="dropdown-item" type="button">Function 3</button>
                                            <button class="dropdown-item" type="button">Function 4</button>

                                        </ul>
                                    </li>


                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                        
                      
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
    <section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(../img/bg-img/40.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>MY ARTICLE</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="mag-breadcrumb py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">My Article</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### About Us Area Start ##### -->
    <section class="about-us-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <!-- About Us Content -->
                    <div class="about-us-content bg-white mb-30 p-30 box-shadow">
                        <!-- Team Member Area -->
                        <div class="section-heading mt-30">
                            <h5>History Article</h5>
                        </div>



                        <div class="row">
                            <div class="col-md-6 input-group mb-3">
                                <input type="text" class="form-control rechange" placeholder="Search.." aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-danger btnfilter" type="button"> <i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>

                        <form class="form-horizontal">
                            <div class="row">


                                <div class="col-md-3 input-group mb-3">
                                  <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Category</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01">
                                    <option value="" disabled selected hidden>Choose...</option>
                                    <option value="1">All</option>
                                    <option value="2">Blog</option>
                                    <option value="3">News</option>
                                    <option value="4">Lifestyle</option>
                                    <option value="5">Trending</option>
                                </select>
                            </div>

                            <div class="col-md-3 input-group mb-3">
                              <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Status</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect02">
                                <option value="" disabled selected hidden>Choose...</option>
                                <option value="1">All</option>
                                <option value="2">Allowed</option>
                                <option value="3">WaitForAd</option>
                                <option value="4">WaitForPost</option>
                                <option value="5">Blocked</option>
                            </select>
                        </div>


                        <div class="col-md-3 form-group">
                            <button type="button" class="btn btn-outline-danger btnfilter">Filter</button>

                        </div>

              <!--   <div class="col-md-3 input-group mb-3">
                  <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Button</button>
                </div>
            </div> -->


        </div>
    </form>

    <div class="row">
        <div class="col-md single-team-member classborder">
            <div class="team-member-thumbnail">
                <img src="../img/bg-img/36.jpg" alt="">
                <div class="social-btn">   
                    <button type="button" class="btn btn-outline-light">Detail</button>   
                    <button type="button" class="btn btn-outline-light">Edit</button>  

                </div>
            </div>
            <div>&nbsp</div>

            <div class="row">
                <div class="col-md-6 PadTitle">Blog</div>
                <div class="col-md-6 PadStatus">Status: <i class="far fa-clock"></i></div>
            </div>
            <div class="notetitle"><p>Title: Lusum basketballs are manufactured to the highest specifications.</p></div>
        </div>


        <!-- Single Team Member -->
        <div class="col-md single-team-member classborder">
            <div class="team-member-thumbnail">
                <img src="../img/bg-img/37.jpg" alt="">
                <div class="social-btn">
                    <button type="button" class="btn btn-outline-light">Detail</button>   
                    <button type="button" class="btn btn-outline-light">Edit</button>  
                </div>
            </div>
            <div>&nbsp</div>
            <div class="row">
                <div class="col-md-6 PadTitle"><strong>News</strong></div>
                <div class="col-md-6 PadStatus">Status: <i class="far fa-paper-plane"></i></div>
            </div>
            <div class="notetitle"><p>Title: Lusum basketballs are manufactured to the highest specifications.</p></div>
        </div>

        <!-- Single Team Member -->
        <div class="col-md single-team-member classborder">
            <div class="team-member-thumbnail">
                <img src="../img/bg-img/38.jpg" alt="">
                <div class="social-btn">
                    <button type="button" class="btn btn-outline-light">Detail</button>   
                    <button type="button" class="btn btn-outline-light">Edit</button>  
                </div>
            </div>
            <div>&nbsp</div>
            <div class="row">
                <div class="col-md-6 PadTitle"><strong>Lifestyle</strong></div>
                <div class="col-md-6 PadStatus">Status: <i class="fas fa-ban"></i></div>
            </div>
            <div class="notetitle"><p>Title: Lusum basketballs are manufactured to the highest specifications.</p></div>
        </div>

        <!-- Single Team Member -->
        <div class="col-md single-team-member classborder">
            <div class="team-member-thumbnail">
                <img src="../img/bg-img/39.jpg" alt="">
                <div class="social-btn">
                    <button type="button" class="btn btn-outline-light">Detail</button>   
                    <button type="button" class="btn btn-outline-light">Edit</button>  
                </div>
            </div>
            <div>&nbsp</div>
            <div class="row">
                <div class="col-md-6 PadTitle"><strong>Blog</strong></div>
                <div class="col-md-6 PadStatus">Status: <i class="fas fa-thumbtack"></i></div>
            </div>
            <div class="notetitle"><p>Title: Lusum basketballs are manufactured to the highest specifications.</p></div>
        </div>


    </div>


    <div class="row">
        <div class="col-md single-team-member classborder">
            <div class="team-member-thumbnail">
                <img src="../img/bg-img/36.jpg" alt="">
                <div class="social-btn">   
                    <button type="button" class="btn btn-outline-light">Detail</button>   
                    <button type="button" class="btn btn-outline-light">Edit</button>  

                </div>
            </div>
            <div>&nbsp</div>

            <div class="row">
                <div class="col-md-6 PadTitle"><strong>Blog</strong></div>
                <div class="col-md-6 PadStatus">Status: <i class="far fa-clock"></i></div>
            </div>
            <div class="notetitle"><p>Title: Lusum basketballs are manufactured to the highest specifications.</p></div>
        </div>


        <!-- Single Team Member -->
        <div class="col-md single-team-member classborder">
            <div class="team-member-thumbnail">
                <img src="../img/bg-img/37.jpg" alt="">
                <div class="social-btn">
                    <button type="button" class="btn btn-outline-light">Detail</button>   
                    <button type="button" class="btn btn-outline-light">Edit</button>  
                </div>
            </div>
            <div>&nbsp</div>
            <div class="row">
                <div class="col-md-6 PadTitle"><strong>News</strong></div>
                <div class="col-md-6 PadStatus">Status: <i class="far fa-paper-plane"></i></div>
            </div>
            <div class="notetitle"><p>Title: Lusum basketballs are manufactured to the highest specifications.</p></div>
        </div>

        <!-- Single Team Member -->
        <div class="col-md single-team-member classborder">
            <div class="team-member-thumbnail">
                <img src="../img/bg-img/38.jpg" alt="">
                <div class="social-btn">
                    <button type="button" class="btn btn-outline-light">Detail</button>   
                    <button type="button" class="btn btn-outline-light">Edit</button>  
                </div>
            </div>
            <div>&nbsp</div>
            <div class="row">
                <div class="col-md-6 PadTitle"><strong>Lifestyle</strong></div>
                <div class="col-md-6 PadStatus">Status: <i class="fas fa-ban"></i></div>
            </div>
            <div class="notetitle"><p>Title: Lusum basketballs are manufactured to the highest specifications.</p></div>
        </div>

        <!-- Single Team Member -->
        <div class="col-md single-team-member classborder">
            <div class="team-member-thumbnail">
                <img src="../img/bg-img/39.jpg" alt="">
                <div class="social-btn">
                    <button type="button" class="btn btn-outline-light">Detail</button>   
                    <button type="button" class="btn btn-outline-light">Edit</button>  
                </div>
            </div>
            <div>&nbsp</div>
            <div class="row">
                <div class="col-md-6 PadTitle"><strong>Blog</strong></div>
                <div class="col-md-6 PadStatus">Status: <i class="fas fa-thumbtack"></i></div>
            </div>
            <div class="notetitle"><p>Title: Lusum basketballs are manufactured to the highest specifications.</p></div>
        </div>


    </div>




</div>
</div>
</div>
</div>
</section>
<!-- ##### About Us Area End ##### -->

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
        <div class="container">
            <div class="row">
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                     <div class="footer-widget">
                        <!-- Logo -->
                        <a href="index.html" class="foo-logo"><img src="../img/core-img/logo2.png" alt=""></a>
                        <p> Project web - Team 28 </br>
                        Teacher: Ngô Ngọc Đăng Khoa</br>
                        
                        1512325 – Tran Le Nguyen Hoang Minh</br>
                        1512281 – Đao Manh Linh</br>
                        1612749 – Phan Bao Trung</br>

                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget">
                        <h6 class="widget-title">CATEGORYS</h6>
                        <nav class="footer-widget-nav">
                            

                            <ul >
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i>News</span> </a></li>
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i>Bussiness</span> </a></li>
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i>Agricultural</span> </a></li>
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i>Seafood</span> </a></li>
                                <!-- <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Đời sống</span> </a></li> -->
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i>Cutural</span> </a></li>
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i>Films </span> </a></li>
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i>Travel  </span> </a></li>
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i>Fashion  </span> </a></li>
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i>Health </span> </a></li>
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i>Food </span> </a></li>
                                <!-- <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Khoa học  </span></a></li> -->
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Invention  </span> </a></li>
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Technology  </span> </a></li>
                            
                            </ul>
                        </nav>
                    </div>
                </div>

                
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-6">
                      <div class="footer-widget">
                        <h6 class="widget-title">TAG</h6>
                        <ul class="footer-tags">
                            <li><a href="danhsachbaiviet.html">endgame</a></li>
                            <li><a href="danhsachbaiviet.html">film</a></li>
                
                            <li><a href="danhsachbaiviet.html">action</a></li>
                            <li><a href="danhsachbaiviet.html">mtp</a></li>
                            <li><a href="danhsachbaiviet.html">marvel</a></li>
                            <li><a href="danhsachbaiviet.html">idol</a></li>
                            <li><a href="danhsachbaiviet.html">scandal</a></li>
                            <li><a href="danhsachbaiviet.html">President</a></li>
                            <li><a href="danhsachbaiviet.html">kim jong-un</a></li>
                            <li><a href="danhsachbaiviet.html">Rule</a></li>
                            <li><a href="danhsachbaiviet.html">Dangerous</a></li>
                            <li><a href="danhsachbaiviet.html">Cars</a></li>
                            <li><a href="danhsachbaiviet.html">Terrorism</a></li>
                            <li><a href="danhsachbaiviet.html">Fananci</a></li>
                             <li><a href="danhsachbaiviet.html">War</a></li>
                            <li><a href="danhsachbaiviet.html">watch out</a></li>
                            <li><a href="danhsachbaiviet.html">fun</a></li>
                            <li><a href="danhsachbaiviet.html">Fashion</a></li>
                            <li><a href="danhsachbaiviet.html">food</a></li>
                            <li><a href="danhsachbaiviet.html">kill husband</a></li>
                            
                            <li><a href="danhsachbaiviet.html">soccer</a></li>
                            <li><a href="danhsachbaiviet.html">laliga champion cup</a></li>
                            <li><a href="danhsachbaiviet.html">fun video</a></li>
                            <li><a href="danhsachbaiviet.html">obama</a></li>
                            <li><a href="danhsachbaiviet.html">Education</a></li>
                            

                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../js/jquery/jquery-2.2.4.min.js"></script>

    <script src="../js/bootstrap/popper.min.js"></script>

    <script src="../js/bootstrap/bootstrap.min.js"></script>

    <script src="../js/plugins/plugins.js"></script>

    <script src="../js/active.js"></script>
</body>

</html> -->
