{{!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Danh sách bài viết</title>

     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="icon" href="img/core-img/favicon.ico">


    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/manhlinh.css">
   

     <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
</head>

<body> --}}
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
     <header class="header-area">

        <!-- Navbar Area -->
        <div class="mag-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="magNav">

                    <!-- Nav brand -->
                    <a href="index.html" class="nav-brand"><img src="../img/core-img/logo.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Nav Content -->
                    <div class="nav-content d-flex align-items-center">
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li class="active"><a href="index.html">Home</a></li>
                                    <li><a href="danhsachbaiviet.html">News</a></li>
                                    <li><a href="danhsachbaiviet.html">Bussiness</a>
                                        <ul class="dropdown">
                                            
                                            <li><a href="danhsachbaiviet.html">Agricultural</a></li>
                                            <li><a href="danhsachbaiviet.html">Seafood</a></li>
                                            
                                        </ul>
                                    </li>
                                    <li><a href="danhsachbaiviet.html">Life style</a>
                                        <ul class="dropdown">
                                            
                                            <li><a href="danhsachbaiviet.html">Cutural</a></li>
                                            <li><a href="danhsachbaiviet.html">Films</a></li>
                                            <li><a href="danhsachbaiviet.html">Travel</a></li>
                                            <li><a href="danhsachbaiviet.html">Fashion</a></li>
                                             <li><a href="danhsachbaiviet.html">Health</a></li>
                                            <li><a href="danhsachbaiviet.html">Food</a></li>
                                        </ul>
                                    </li>

                                   <li><a href="danhsachbaiviet.html">Sciencse</a>
                                        <ul class="dropdown">
                                            
                                            <li><a href="danhsachbaiviet.html">Invention</a></li>
                                            <li><a href="danhsachbaiviet.html">Technology</a></li>
                                            
                                        </ul>
                                    </li>

                                    <li><a href="danhsachbaiviet.html">Synthetic</a>
                                        <div class="megamenu">
                                            
                                            <ul class="single-mega cn-col-3">
                                                <li><a href="danhsachbaiviet.html">Home</a></li>
                                                <li><a href="danhsachbaiviet.html">News</a></li>
                                                <li><a href="danhsachbaiviet.html">Bussiness</a></li>
                                                <li><a href="danhsachbaiviet.html">Agricultural</a></li>
                                                <li><a href="danhsachbaiviet.html">Seafood</a></li>
                                            </ul>

                                            <ul class="single-mega cn-col-3">
                                                <li><a href="danhsachbaiviet.html">Life style</a></li>
                                                <li><a href="danhsachbaiviet.html">Cutural</a></li>
                                                <li><a href="danhsachbaiviet.html">Films</a></li>
                                                <li><a href="danhsachbaiviet.html">Travel</a></li>
                                                <li><a href="danhsachbaiviet.html">Fashion</a></li>
                                                
                                            </ul>
                                            <ul class="single-mega cn-col-3">
                                                <li><a href="single-post.html">Health</a></li>
                                                <li><a href="danhsachbaiviet.html">Food</a></li>
                                                <li><a href="danhsachbaiviet.html">Secience</a></li>
                                                <li><a href="danhsachbaiviet.html">Invention</a></li>
                                                <li><a href="danhsachbaiviet.html">Technology</a></li>  
                                            </ul>
                                        </div>
                                    </li>
                                     <li><a href="timkiem.html">Search</a> </li>
                                     
                                    <li><a href="login.html" class="login-btn"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                                    
                                    <li>
                                        <div class="top-meta-data d-flex align-items-center" class="classynav">
                                           <a href="#" class="submit-video">
                                            <i class="fas fa-align-justify" ></i></a>
                                        </div>
                                        <ul class="dropdown">
                                            
                                            
                                            <button class="dropdown-item" type="button">Function 1</button>
                                            <button class="dropdown-item" type="button">Function 2</button>
                                            <button class="dropdown-item" type="button">Function 3</button>
                                            <button class="dropdown-item" type="button">Function 4</button>

                                        </ul>
                                    </li>


                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                        
                      
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
    <section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(../img/bg-img/40.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>MANAGE ARTICLES</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="mag-breadcrumb py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Manage Articles</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### About Us Area Start ##### -->
    <section class="about-us-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-8">
                    <!-- About Us Content -->
                    <div class="about-us-content bg-white mb-30 p-30 box-shadow">
                        <!-- Team Member Area -->
                        <div class="section-heading mt-30">
                            <h5>List of articles need to be allowed</h5>
                        </div>
                        <h7>The article has not been approved: <strong>{{this.article.length}}</strong></h7>
                        <hr>
                        <!-- Single Team Member -->
                        {{!-- {{#each this.cate}}
                            
                        {{/each}} --}}
                        {{#each this.article}}
                         <div class="single-team-member d-flex align-items-center">
                            <div class="team-member-thumbnail">
                                <img src="../img/article/{{id}}/main_thumbs.jpg" alt="">
                                <div class="social-btn">
                                    <a href="#"><i class="far fa-address-card"></i> Info</a>
                                </div>
                            </div>
                            <div class="team-member-content">
                                <h6>Mrs. Susan Monroe
                                 <button class="mlfalse mlfalsebut" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-lock"></i></button>


                                 <button class="mltrue mltruebut" data-toggle="modal" data-target="#exampleModaltrue"><i class="fas fa-check"></i></button>
                             </h6>
                             <span>Reporter</span>
                             
                             <p><strong>Title:</strong> {{title}}</p>
                            <p><strong>Summary:</strong> {{summary}}</p>
                             <button type="button" class="btn btn-outline-secondary"><p></p>See details</button>
                         </div>
                     </div> 
                    {{/each}}
                     {{!-- <!-- Single Team Member -->
                     <div class="single-team-member d-flex align-items-center">
                        <div class="team-member-thumbnail">
                            <img src="../img/bg-img/37.jpg" alt="">
                            <div class="social-btn">
                             <a href="#"><i class="far fa-address-card"></i> Info</a>
                         </div>
                     </div>
                     <div class="team-member-content">
                        <h6>Mr. Luke Garner
                          <button class="mlfalse mlfalsebut" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-lock"></i></button>


                          <button class="mltrue mltruebut" data-toggle="modal" data-target="#exampleModaltrue"><i class="fas fa-check"></i></button>
                      </h6>
                      <span>Editor in Chief</span>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consectetur mauris id scelerisque eleifend. Nunc vestibulum cursea quam at scelerisque.</p>

                      <button type="button" class="btn btn-outline-secondary"><p></p>See details</button>
                  </div>
              </div>

              <!-- Single Team Member -->
              <div class="single-team-member d-flex align-items-center">
                <div class="team-member-thumbnail">
                    <img src="../img/bg-img/38.jpg" alt="">
                    <div class="social-btn">
                     <a href="#"><i class="far fa-address-card"></i> Info</a>
                 </div>
             </div>
             <div class="team-member-content">
                <h6>Ms. Elena Korikova
                    <button class="mlfalse mlfalsebut" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-lock"></i></button>


                    <button class="mltrue mltruebut" data-toggle="modal" data-target="#exampleModaltrue"><i class="fas fa-check"></i></button>
                </h6>
                <span>Marketer</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consectetur mauris id scelerisque eleifend. Nunc vestibulum cursea quam at scelerisque.</p>

                <button type="button" class="btn btn-outline-secondary"><p></p>See details</button>
            </div>
        </div>

        <!-- Single Team Member -->
        <div class="single-team-member d-flex align-items-center">
            <div class="team-member-thumbnail">
                <img src="../img/bg-img/39.jpg" alt="">
                <div class="social-btn">
                 <a href="#"><i class="far fa-address-card"></i> Info</a>
             </div>
         </div>
         <div class="team-member-content">
            <h6>Mr. Tom Wellington 
                <button class="mlfalse mlfalsebut" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-lock"></i></button>


                <button class="mltrue mltruebut" data-toggle="modal" data-target="#exampleModaltrue"><i class="fas fa-check"></i></button>


            </h6>
            <span>Photographer</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consectetur mauris id scelerisque eleifend. Nunc vestibulum cursea quam at scelerisque.</p>

            <button type="button" class="btn btn-outline-secondary"><p></p>See details</button>


        </div>
    </div> --}}
</div>
</div>

<div class="col-12 col-md-6 col-lg-5 col-xl-4">
    <div class="sidebar-area bg-white mb-30 box-shadow">
        <!-- Sidebar Widget -->
        <div class="single-sidebar-widget p-30">
            <!-- Social Followers Info -->
            <div class="social-followers-info">
                <!-- Facebook -->
                <a href="#" class="duyet"><i class="fas fa-check"></i> 4,360 <span>Allow</span></a>
                <!-- Twitter -->
                <a href="#" class="khongduyet"><i class="fas fa-lock"></i>&nbsp 3,280 <span>Locked</span></a>
                <!-- YouTube -->
            </div>
        </div>

        <!-- Sidebar Widget -->
        <div class="single-sidebar-widget p-30">
            <!-- Section Title -->
            <div class="section-heading">
                <h5>Categories</h5>
            </div>

            <!-- Catagory Widget -->
            <ul class="catagory-widgets">
                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Life Style</span> <span>35</span></a></li>
                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Travel</span> <span>30</span></a></li>
                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Foods</span> <span>13</span></a></li>
                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Game</span> <span>06</span></a></li>
                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Sports</span> <span>28</span></a></li>
                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Football</span> <span>08</span></a></li>
                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> TV Show</span> <span>13</span></a></li>
            </ul>
        </div>

        <!-- Sidebar Widget -->
       

        <!-- Sidebar Widget -->
        <div class="single-sidebar-widget p-30">
            <!-- Section Title -->
            

        </div>
    </div>
</div>
</div>
</div>
</section>
<!-- ##### About Us Area End ##### -->

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
        <div class="container">
            <div class="row">
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                     <div class="footer-widget">
                        <!-- Logo -->
                        <a href="index.html" class="foo-logo"><img src="../img/core-img/logo2.png" alt=""></a>
                        <p> Project web - Team 28 </br>
                        Teacher: Ngô Ngọc Đăng Khoa</br>
                        
                        1512325 – Tran Le Nguyen Hoang Minh</br>
                        1512281 – Đao Manh Linh</br>
                        1612749 – Phan Bao Trung</br>

                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget">
                        <h6 class="widget-title">CATEGORYS</h6>
                        <nav class="footer-widget-nav">
                            

                            <ul >
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> News</span> </a></li>
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Bussiness</span> </a></li>
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i>Agricultural</span> </a></li>
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i>Seafood</span> </a></li>
                                <!-- <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Đời sống</span> </a></li> -->
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Cutural</span> </a></li>
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i>Films </span> </a></li>
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Travel  </span> </a></li>
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i>Fashion  </span> </a></li>
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Health </span> </a></li>
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i>Food </span> </a></li>
                                <!-- <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Khoa học  </span></a></li> -->
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Invention  </span> </a></li>
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Technology  </span> </a></li>
                            
                            </ul>
                        </nav>
                    </div>
                </div>

                
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-6">
                      <div class="footer-widget">
                        <h6 class="widget-title">TAG</h6>
                        <ul class="footer-tags">
                            <li><a href="danhsachbaiviet.html">endgame</a></li>
                            <li><a href="danhsachbaiviet.html">film</a></li>
                
                            <li><a href="danhsachbaiviet.html">action</a></li>
                            <li><a href="danhsachbaiviet.html">mtp</a></li>
                            <li><a href="danhsachbaiviet.html">marvel</a></li>
                            <li><a href="danhsachbaiviet.html">idol</a></li>
                            <li><a href="danhsachbaiviet.html">scandal</a></li>
                            <li><a href="danhsachbaiviet.html">President</a></li>
                            <li><a href="danhsachbaiviet.html">kim jong-un</a></li>
                            <li><a href="danhsachbaiviet.html">Rule</a></li>
                            <li><a href="danhsachbaiviet.html">Dangerous</a></li>
                            <li><a href="danhsachbaiviet.html">Cars</a></li>
                            <li><a href="danhsachbaiviet.html">Terrorism</a></li>
                            <li><a href="danhsachbaiviet.html">Fananci</a></li>
                             <li><a href="danhsachbaiviet.html">War</a></li>
                            <li><a href="danhsachbaiviet.html">watch out</a></li>
                            <li><a href="danhsachbaiviet.html">fun</a></li>
                            <li><a href="danhsachbaiviet.html">Fashion</a></li>
                            <li><a href="danhsachbaiviet.html">food</a></li>
                            <li><a href="danhsachbaiviet.html">kill husband</a></li>
                            
                            <li><a href="danhsachbaiviet.html">soccer</a></li>
                            <li><a href="danhsachbaiviet.html">laliga champion cup</a></li>
                            <li><a href="danhsachbaiviet.html">fun video</a></li>
                            <li><a href="danhsachbaiviet.html">obama</a></li>
                            <li><a href="danhsachbaiviet.html">Education</a></li>
                            

                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </footer>



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Reason note</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <form>
      <div class="modal-body">
      
            <div class="form-group">
                <label for="exampleFormControlTextarea1">We sorry about this article because:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

           </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-danger">Save</button>
    </div>
     </form>

</div>
</div>
</div>



<div class="modal fade" id="exampleModaltrue" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reason note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <form>
  <div class="modal-body">

     
          <div class="form-group">
            <label for="Category">Category</label>
            <input type="text" class="form-control" id="Category" aria-describedby="emailHelp" placeholder="Category...">
            
        </div>
        <div class="form-group">
            <label for="Labeltag">Label tag</label>
            <input type="text" class="form-control" id="Labeltag" aria-describedby="emailHelp" placeholder="Tag...">
        </div>

        <div class="form-group">
            <label for="Datetime">Date-time</label>
            <input id="input" id="Datetime" width="312" />
            <script>
                $('#input').datetimepicker({ footer: true, modal: true });
            </script>
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-danger">Save</button>
    </div>
    </form>
</div>
</div>
</div>

<!-- ##### Footer Area End ##### -->

<!-- ##### All Javascript Script ##### -->

{{!-- <script src="../js/jquery/jquery-2.2.4.min.js"></script>

<script src="../js/bootstrap/popper.min.js"></script>

<script src="../js/bootstrap/bootstrap.min.js"></script>

<script src="../js/plugins/plugins.js"></script>

<script src="../js/active.js"></script>
</body>

</html> --}}