<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Bài viết</title>
    
    <!-- Favicon -->
    <link rel="icon" href="../img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="../css/styleMinh.css">

    <!--css tự tạo + override -->
     <link rel="stylesheet" href="../css/minhMinh.css">  

     <!--fontawesome - icon -->
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

     <!--Bootstrap -->
        <!--CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!--JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Navbar Area -->
        <div class="mag-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="magNav">

                    <!-- Nav brand -->
                    <a href="index.html" class="nav-brand"><img src="../img/core-img/logo.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Nav Content -->
                    <div class="nav-content d-flex align-items-center">
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li class="active"><a href="index.html">Home</a></li>
                                    <li><a href="danhsachbaiviet.html">News</a></li>
                                    <li><a href="danhsachbaiviet.html">Bussiness</a>
                                        <ul class="dropdown">
                                            
                                            <li><a href="danhsachbaiviet.html">Agricultural</a></li>
                                            <li><a href="danhsachbaiviet.html">Seafood</a></li>
                                            
                                        </ul>
                                    </li>
                                    <li><a href="danhsachbaiviet.html">Life style</a>
                                        <ul class="dropdown">
                                            
                                            <li><a href="danhsachbaiviet.html">Cutural</a></li>
                                            <li><a href="danhsachbaiviet.html">Films</a></li>
                                            <li><a href="danhsachbaiviet.html">Travel</a></li>
                                            <li><a href="danhsachbaiviet.html">Fashion</a></li>
                                             <li><a href="danhsachbaiviet.html">Health</a></li>
                                            <li><a href="danhsachbaiviet.html">Food</a></li>
                                        </ul>
                                    </li>

                                   <li><a href="danhsachbaiviet.html">Sciencse</a>
                                        <ul class="dropdown">
                                            
                                            <li><a href="danhsachbaiviet.html">Invention</a></li>
                                            <li><a href="danhsachbaiviet.html">Technology</a></li>
                                            
                                        </ul>
                                    </li>

                                    <li><a href="danhsachbaiviet.html">Synthetic</a>
                                        <div class="megamenu">
                                            
                                            <ul class="single-mega cn-col-3">
                                                <li><a href="danhsachbaiviet.html">Home</a></li>
                                                <li><a href="danhsachbaiviet.html">News</a></li>
                                                <li><a href="danhsachbaiviet.html">Bussiness</a></li>
                                                <li><a href="danhsachbaiviet.html">Agricultural</a></li>
                                                <li><a href="danhsachbaiviet.html">Seafood</a></li>
                                            </ul>

                                            <ul class="single-mega cn-col-3">
                                                <li><a href="danhsachbaiviet.html">Life style</a></li>
                                                <li><a href="danhsachbaiviet.html">Cutural</a></li>
                                                <li><a href="danhsachbaiviet.html">Films</a></li>
                                                <li><a href="danhsachbaiviet.html">Travel</a></li>
                                                <li><a href="danhsachbaiviet.html">Fashion</a></li>
                                                
                                            </ul>
                                            <ul class="single-mega cn-col-3">
                                                <li><a href="single-post.html">Health</a></li>
                                                <li><a href="danhsachbaiviet.html">Food</a></li>
                                                <li><a href="danhsachbaiviet.html">Secience</a></li>
                                                <li><a href="danhsachbaiviet.html">Invention</a></li>
                                                <li><a href="danhsachbaiviet.html">Technology</a></li>  
                                            </ul>
                                        </div>
                                    </li>
                                     <li><a href="timkiem.html">Search</a> </li>
                                     
                                    <li><a href="login.html" class="login-btn"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                                    
                                    <li>
                                        <div class="top-meta-data d-flex align-items-center" class="classynav">
                                           <a href="#" class="submit-video">
                                            <i class="fas fa-align-justify" ></i></a>
                                        </div>
                                        <ul class="dropdown" style="left:-100%" >
                                            
                                            
                                            <button class="dropdown-item" type="button">Function 1</button>
                                            <button class="dropdown-item" type="button">Function 2</button>
                                            <button class="dropdown-item" type="button">Function 3</button>
                                            <button class="dropdown-item" type="button">Function 4</button>

                                        </ul>
                                    </li>


                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                        
                      
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->


 <!-- ##### Breadcrumb Area Start ##### -->
    <section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(../img/bg-img/DL1.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>Khách sạn lãng mạn nhất thế giới’</br> ưu đãi đặc biệt cho các cặp đôi</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcrumb Area End ##### -->


<!-- ##### Breadcrumb Area Start ##### -->
    <div class="mag-breadcrumb py-5" style="height: 50px; margin-left: 30px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i> Trang chủ</a></li>
                            <li class="breadcrumb-item"><a href="danhsachbaiviet.html">Du lịch</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Bài viết</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->





    <!-- ##### Mag Posts Area Start ##### -->
    <section class="mag-posts-area d-flex flex-wrap">


        <!-- >>>>>>>>>>>>>>>>>>>>
             Main Posts Area
        <<<<<<<<<<<<<<<<<<<<< -->
        





        <div class="mag-posts-content mt-30 mb-30 p-30 box-shadow">
            
            <!-- Tin mới nhất Area -->
            <div class="feature-video-posts mb-30">

                <div class="featured-video-posts">
                    <div class="row">
                        <div class="col-12 col-lg-12">
                        <div >
                        <div class="blog-thumb mb-30">
                            <img src="../img/bg-img/DL1.1.jpg" alt="" style="width: 100%;">
                        </div>
                        <div class="blog-content">
                            <div class="post-meta">
                                <a href="#">09/04/2019 |</a>
                                <a href="danhsachbaiviet.html.html">DU LỊCH</a>
                            </div>
                            <h4 class="post-title">Khách sạn lãng mạn nhất thế giới’ ưu đãi đặc biệt cho các cặp đôi</h4>
                           

                            <p>Tọa lạc tại Làng Pháp thuộc khu du lịch nổi tiếng Sun World Ba Na Hills, khách sạn Mercure Danang French Village Bana Hills không còn xa lạ đối với du khách khi đến Bà Nà Hills nói riêng và Đà Nẵng nói chung. Lối kiến trúc đậm chất Pháp cổ của khách sạn khiến bất cứ du khách nào đến đây cũng ao ước được tận hưởng, được check-in.</p>
                            

                            <p>Vài năm trở lại đây, “Khách sạn lãng mạn nhất thế giới năm 2018” này đã liên tiếp trở thành phông nền cực chất trong những bộ hình cưới của các cặp đôi. Ngoài kiến trúc phong cách châu Âu cổ kính, sang trọng, chụp ảnh cưới với gói ưu đãi Pre- Wedding của khách sạn, các cặp đôi sẽ có trong tay nhiều trải nghiệm thú vị độc nhất vô nhị không nơi nào có được.</p>

                            <div class="row">
                                <div class="col-12 col-lg-8">
                                    <p>Bất cứ góc nào của khách sạn cũng như khu du lịch Bà Nà Hills cũng có thể khiến bộ ảnh cưới của bạn trở nên độc nhất vô nhị, giống như thể bạn đã bay sang tận trời Âu để có được những góc chụp thần thánh đó. Những con đường lát đá, lâu đài với chóp tháp tự như trong cổ tích, những vườn hoa rực rỡ, thánh đường Saint Denis uy nghi, bức tường đá tự nhiên đặc trưng cùng những dòng chữ đáng yêu được kết tạo bằng chính cây xanh ở khu vực khách sạn Morin… ngay cả với các nhiếp ảnh gia không chuyên thì ở Mercure Danang French Village Bana Hills, cứ giơ máy lên là có hình đẹp.</p>
                                    
                                </div>
                                <div class="col-12 col-lg-4">
                                    <img class="mb-15" src="../img/bg-img/DL1.2.jpg" alt="">
                                </div>
                            </div>

                            <p>Vị trí độc đáo có một không hai với tầm nhìn trải rộng ra khung cảnh tự nhiên nên thơ, khoáng đạt của vùng Núi Chúa, Mercure Danang French Village Bana Hills mang tới cho các cặp đôi một không gian nghỉ dưỡng hoàn hảo, với dịch vụ chuyên nghiệp và các tiện ích 4 sao theo tiêu chuẩn quốc tế</p>

                            <blockquote>
                                <h6 class="quote-text">Không chỉ chắc chắn có bộ ảnh cưới đẹp như mơ tại miền tiên cảnh, gói ưu đãi pre-wedding của Mercure Danang French Village Bana Hills còn tặng các cặp đôi những giây phút nghỉ dưỡng tuyệt vời tại “khách sạn lãng mạn nhất thế giới” 2018. Với các mức giá dao động từ 2.500.000 đồng đến 3.999.000 đồng tùy vào nhu cầu, hai bạn sẽ được sử dụng 01 phòng hạng sang, miễn phí các suất buffet tại hệ thống nhà hàng sang trọng của khách sạn, miễn phí vé cáp treo hai chiều cùng nhiều ưu đãi khác.</h6>
                            </blockquote>

                            <p>Chiêm ngưỡng toàn cảnh đỉnh Núi Chúa đẹp lãng mạn khi hoàng hôn buông xuống hay lúc bình minh lên từ ban công phòng nghỉ của mình, ngâm mình trong làn nước ấm và thưởng thức những bộ phim bom tấn tại hồ bơi La Piscine, hay tham gia hành trình khám phá ngôi làng Pháp mang tên Mật Mã Bồ Câu… đó là những trải nghiệm khó quên mà khách sạn lãng mạn trên đỉnh Bà Nà dành tặng cho các cặp đôi, như một món quà thú vị sau những khoảnh khắc ngọt ngào trong những bộ hình cưới độc nhất vô nhị ở Bà Nà Hills. </p>

                            <!-- Tag -->
                            <div>
                                <p>Tags</p>
                                <a href="danhsachbaiviet.html" style="margin-right: 5px;">Bà Nà Hills</a>
                                <a href="danhsachbaiviet.html"style="margin-right: 5px;">Đà Nẵng</a>
                                <a href="danhsachbaiviet.html"style="margin-right: 5px;"> Cầu Vàng</a>
                                <a href="danhsachbaiviet.html"style="margin-right: 5px;"> Du lịch</a>
                                <a href="danhsachbaiviet.html"style="margin-right: 5px;">Khách Sạn </a>
                                <a href="danhsachbaiviet.html"style="margin-right: 5px;">Núi</a>

                            </div>

                            <!-- Post Author -->
                            <div class="post-author d-flex align-items-center">
                                <div class="post-author-thumb">
                                    <img src="../img/bg-img/38.jpg" alt="">
                                </div>
                                <div class="post-author-desc pl-4">
                                    <a href="#" class="author-name">Xuân Hồng</a>
                                    <p>Đam mê viết báo lĩnh vực Du lịch và đời sống</p>
                                </div>
                            </div>
                        </div>
                    </div>
                        </div>


                        
                    </div>
                </div>
            </div>

            <!-- Tin mới nhất - end -->


            <!-- Trending Now Posts Area -->
<!--             <div class="trending-now-posts mb-30">
                
                <div class="section-heading">
                    <h5>TRENDING NOW</h5>
                </div>

                <div class="trending-post-slides owl-carousel">
                
                    <div class="single-trending-post">
                        <img src="img/bg-img/19.jpg" alt="">
                        <div class="post-content">
                            <a href="#" class="post-cata">Video</a>
                            <a href="video-post.html" class="post-title">Big Savings On Gas While You Travel</a>

                            

                        </div>
                    </div>

                   
                    <div class="single-trending-post">
                        <img src="img/bg-img/20.jpg" alt="">
                        <div class="post-content">
                            <a href="#" class="post-cata">TV Show</a>
                            <a href="video-post.html" class="post-title">A Guide To Rocky Mountain Vacations</a>
                        </div>
                    </div>

                   
                    <div class="single-trending-post">
                        <img src="img/bg-img/21.jpg" alt="">
                        <div class="post-content">
                            <a href="#" class="post-cata">Sports</a>
                            <a href="video-post.html" class="post-title">The Health Benefits Of Sunglasses</a>
                        </div>
                    </div>

                   
                    <div class="single-trending-post">
                        <img src="img/bg-img/19.jpg" alt="">
                        <div class="post-content">
                            <a href="#" class="post-cata">Video</a>
                            <a href="video-post.html" class="post-title">Big Savings On Gas While You Travel</a>
                        </div>
                    </div>

                  
                    <div class="single-trending-post">
                        <img src="img/bg-img/20.jpg" alt="">
                        <div class="post-content">
                            <a href="#" class="post-cata">TV Show</a>
                            <a href="video-post.html" class="post-title">A Guide To Rocky Mountain Vacations</a>
                        </div>
                    </div>

                   
                    <div class="single-trending-post">
                        <img src="img/bg-img/21.jpg" alt="">
                        <div class="post-content">
                            <a href="#" class="post-cata">Sports</a>
                            <a href="video-post.html" class="post-title">The Health Benefits Of Sunglasses</a>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- End Trending Now Posts Area -->

            <!-- Mọi người cũng xem -->
            <div class="most-viewed-videos mb-30">
                <!-- Section Title -->
                <div class="section-heading">
                    <h5>Mọi người cũng xem</h5>
                </div>  

                <div class="most-viewed-videos-slide owl-carousel">

                    <!-- Single Blog Post -->
                    <div class="single-blog-post style-4">
                        <div class="post-thumbnail">
                            <a href="baiviet.html">
                                <img src="../img/bg-img/28.jpg" alt="">
                            </a>
                           
                        </div>
                        <div class="post-content">
                            <a href="single-post.html" class="post-title">Du lịch giá rẻ </a>
                            <div class="post-meta d-flex">
                                <a href="#">08/04/2019 |</a>
                                <a href="danhsachbaiviet.html">DU LỊCH</a>
                            </div>
                        </div>
                    </div>

                    <!-- Single Blog Post -->
                    <div class="single-blog-post style-4">
                        <div class="post-thumbnail">
                            <a href="baiviet.html">
                                <img src="../img/bg-img/28.jpg" alt="">
                            </a>
                           
                        </div>
                        <div class="post-content">
                            <a href="single-post.html" class="post-title">Du lịch giá rẻ </a>
                            <div class="post-meta d-flex">
                                <a href="#">08/04/2019 |</a>
                                <a href="danhsachbaiviet.html">DU LỊCH</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog Post -->
                    <div class="single-blog-post style-4">
                        <div class="post-thumbnail">
                            <a href="baiviet.html">
                                <img src="../img/bg-img/28.jpg" alt="">
                            </a>
                           
                        </div>
                        <div class="post-content">
                            <a href="single-post.html" class="post-title">Du lịch giá rẻ </a>
                            <div class="post-meta d-flex">
                                <a href="#">08/04/2019 |</a>
                                <a href="danhsachbaiviet.html">DU LỊCH</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog Post -->
                    <div class="single-blog-post style-4">
                        <div class="post-thumbnail">
                            <a href="baiviet.html">
                                <img src="../img/bg-img/28.jpg" alt="">
                            </a>
                           
                        </div>
                        <div class="post-content">
                            <a href="single-post.html" class="post-title">Du lịch giá rẻ </a>
                            <div class="post-meta d-flex">
                                <a href="#">08/04/2019 |</a>
                                <a href="danhsachbaiviet.html">DU LỊCH</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog Post -->
                    <div class="single-blog-post style-4">
                        <div class="post-thumbnail">
                            <a href="baiviet.html">
                                <img src="../img/bg-img/28.jpg" alt="">
                            </a>
                           
                        </div>
                        <div class="post-content">
                            <a href="single-post.html" class="post-title">Du lịch giá rẻ </a>
                            <div class="post-meta d-flex">
                                <a href="#">08/04/2019 |</a>
                                <a href="danhsachbaiviet.html">DU LỊCH</a>
                            </div>
                        </div>
                    </div>

        
                </div>
            </div>
            <!-- End Most Viewed Videos - Video nổi bật -->
            
             <!-- Comment Area Start -->
                    <div class="comment_area clearfix bg-white mb-30 p-30 box-shadow">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h5>BÌNH LUẬN</h5>
                        </div>

                        <ol>
                            <!-- Single Comment Area -->
                            <li class="single_comment_area">
                                <!-- Comment Content -->
                                <div class="comment-content d-flex">
                                    <!-- Comment Author -->
                                    <div class="comment-author">
                                        <img src="../img/bg-img/53.jpg" alt="author">
                                    </div>
                                    <!-- Comment Meta -->
                                    <div class="comment-meta">
                                        <a href="#" class="comment-date">09/04/2019</a>
                                        <h6>Hoàng Minh</h6>
                                        <p>Cảnh đẹp ghê, tôi muốn được một lần đi đến đó</p>
                                        <div class="d-flex align-items-center">
                                            <a href="#" class="like">like</a>
                                            <a href="#" class="reply">Reply</a>
                                        </div>
                                    </div>
                                </div>

                                <ol class="children">
                                    <li class="single_comment_area">
                                        <!-- Comment Content -->
                                        <div class="comment-content d-flex">
                                            <!-- Comment Author -->
                                            <div class="comment-author">
                                                <img src="../img/bg-img/54.jpg" alt="author">
                                            </div>
                                            <!-- Comment Meta -->
                                            <div class="comment-meta">
                                                <a href="#" class="comment-date">09/04/2019</a>
                                                <h6>Bảo Trung</h6>
                                                <p>Sau này mình sẽ chọn Đà Nẵng làm địa điểm chụp ảnh cưới</p>
                                                <div class="d-flex align-items-center">
                                                    <a href="#" class="like">like</a>
                                                    <a href="#" class="reply">Reply</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                            </li>

                            <!-- Single Comment Area -->
                            <li class="single_comment_area">
                                <!-- Comment Content -->
                                <div class="comment-content d-flex">
                                    <!-- Comment Author -->
                                    <div class="comment-author">
                                        <img src="../img/bg-img/55.jpg" alt="author">
                                    </div>
                                    <!-- Comment Meta -->
                                    <div class="comment-meta">
                                        <a href="#" class="comment-date">10/04/2019</a>
                                        <h6>Mạnh Linh</h6>
                                        <p>Muốn đến một lần trong đời </p>
                                        <div class="d-flex align-items-center">
                                            <a href="#" class="like">like</a>
                                            <a href="#" class="reply">Reply</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>

                    <!-- Post A Comment Area -->
                    <div class="post-a-comment-area bg-white mb-30 p-30 box-shadow clearfix">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h5>ĐỂ LẠI BÌNH LUẬN</h5>
                        </div>

                        <!-- Reply Form -->
                        <div class="contact-form-area">
                            <form action="#" method="post">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <input type="text" class="form-control" id="name" placeholder="Your Name*" required>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <input type="email" class="form-control" id="email" placeholder="Your Email*" required>
                                    </div>
                                    <div class="col-12">
                                        <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message*" required></textarea>
                                    </div>
                                    <div class="col-12">
                                        <button class="mag-btn mt-30" style="border: none; border-radius: 5%; "type="submit">Gửi bình luận</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

        </div>
        <!--------------------------
            End main area
            ------------------------>



        <!-- >>>>>>>>>>>>>>>>>>>>
         Post Right Sidebar Area
        <<<<<<<<<<<<<<<<<<<<< -->

        <!-- Bài viết liên quan -->
        <div class="post-sidebar-area right-sidebar mt-30 mb-30 box-shadow">
                <!-- Sidebar Widget Right1 - Xem nhiều -->
            <div class="single-sidebar-widget p-30">
                <!-- Section Title -->
                <div class="section-heading">
                    <h5>Bài viết liên quan</h5>
                </div>

                <!-- Single Blog Post -->
                <div class="single-blog-post d-flex">
                    <div class="post-thumbnail">
                        <a href="baiviet.html"> <img src="../img/bg-img/AI.jpg" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="baiviet.html" class="post-title">Giọng nói AI không giới tính đầu tiên trên thế giới <span class="badge badge-primary">Mới</span></a>
                        
                         <div class="post-meta d-flex">   
                            <a href="#">10/04/2019|</a>
                            <a href="danhsachbaiviet.html">PHÁT MINH</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="single-blog-post d-flex">
                    <div class="post-thumbnail">
                        <a href="baiviet.html"> <img src="../img/bg-img/AI.jpg" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="single-post.html" class="post-title">Giọng nói AI không giới tính đầu tiên trên thế giới <span class="badge badge-primary">Mới</span></a>
                        
                         <div class="post-meta d-flex">   
                            <a href="#">10/04/2019|</a>
                            <a href="danhsachbaiviet.html">PHÁT MINH</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="single-blog-post d-flex">
                    <div class="post-thumbnail">
                        <a href="baiviet.html"> <img src="../img/bg-img/AI.jpg" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="single-post.html" class="post-title">Giọng nói AI không giới tính đầu tiên trên thế giới <span class="badge badge-primary">Mới</span></a>
                        
                         <div class="post-meta d-flex">   
                            <a href="#">10/04/2019|</a>
                            <a href="danhsachbaiviet.html">PHÁT MINH</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="single-blog-post d-flex">
                    <div class="post-thumbnail">
                        <a href="baiviet.html"> <img src="../img/bg-img/AI.jpg" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="single-post.html" class="post-title">Giọng nói AI không giới tính đầu tiên trên thế giới <span class="badge badge-primary">Mới</span></a>
                        
                         <div class="post-meta d-flex">   
                            <a href="#">10/04/2019|</a>
                            <a href="danhsachbaiviet.html">PHÁT MINH</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="single-blog-post d-flex">
                    <div class="post-thumbnail">
                        <a href="baiviet.html"> <img src="../img/bg-img/AI.jpg" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="single-post.html" class="post-title">Giọng nói AI không giới tính đầu tiên trên thế giới <span class="badge badge-primary">Mới</span></a>
                        
                         <div class="post-meta d-flex">   
                            <a href="#">10/04/2019|</a>
                            <a href="danhsachbaiviet.html">PHÁT MINH</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="single-blog-post d-flex">
                    <div class="post-thumbnail">
                        <a href="baiviet.html"> <img src="../img/bg-img/AI.jpg" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="single-post.html" class="post-title">Giọng nói AI không giới tính đầu tiên trên thế giới <span class="badge badge-primary">Mới</span></a>
                        
                         <div class="post-meta d-flex">   
                            <a href="#">10/04/2019|</a>
                            <a href="danhsachbaiviet.html">PHÁT MINH</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="single-blog-post d-flex">
                    <div class="post-thumbnail">
                        <a href="baiviet.html"> <img src="../img/bg-img/AI.jpg" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="single-post.html" class="post-title">Giọng nói AI không giới tính đầu tiên trên thế giới <span class="badge badge-primary">Mới</span></a>
                        
                         <div class="post-meta d-flex">   
                            <a href="#">10/04/2019|</a>
                            <a href="danhsachbaiviet.html">PHÁT MINH</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="single-blog-post d-flex">
                    <div class="post-thumbnail">
                        <a href="baiviet.html"> <img src="../img/bg-img/AI.jpg" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="single-post.html" class="post-title">Giọng nói AI không giới tính đầu tiên trên thế giới <span class="badge badge-primary">Mới</span></a>
                        
                         <div class="post-meta d-flex">   
                            <a href="#">10/04/2019|</a>
                            <a href="danhsachbaiviet.html">PHÁT MINH</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="single-blog-post d-flex">
                    <div class="post-thumbnail">
                        <a href="baiviet.html"> <img src="../img/bg-img/AI.jpg" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="single-post.html" class="post-title">Giọng nói AI không giới tính đầu tiên trên thế giới <span class="badge badge-primary">Mới</span></a>
                        
                         <div class="post-meta d-flex">   
                            <a href="#">10/04/2019|</a>
                            <a href="danhsachbaiviet.html">PHÁT MINH</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="single-blog-post d-flex">
                    <div class="post-thumbnail">
                        <a href="baiviet.html"> <img src="../img/bg-img/AI.jpg" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="single-post.html" class="post-title">Giọng nói AI không giới tính đầu tiên trên thế giới <span class="badge badge-primary">Mới</span></a>
                        
                         <div class="post-meta d-flex">   
                            <a href="#">10/04/2019|</a>
                            <a href="danhsachbaiviet.html">PHÁT MINH</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="single-blog-post d-flex">
                    <div class="post-thumbnail">
                        <a href="baiviet.html"> <img src="../img/bg-img/AI.jpg" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="single-post.html" class="post-title">Giọng nói AI không giới tính đầu tiên trên thế giới <span class="badge badge-primary">Mới</span></a>
                        
                         <div class="post-meta d-flex">   
                            <a href="#">10/04/2019|</a>
                            <a href="danhsachbaiviet.html">PHÁT MINH</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="single-blog-post d-flex">
                    <div class="post-thumbnail">
                        <a href="baiviet.html"> <img src="../img/bg-img/AI.jpg" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="single-post.html" class="post-title">Giọng nói AI không giới tính đầu tiên trên thế giới <span class="badge badge-primary">Mới</span></a>
                        
                         <div class="post-meta d-flex">   
                            <a href="#">10/04/2019|</a>
                            <a href="danhsachbaiviet.html">PHÁT MINH</a>
                        </div>
                    </div>
                </div>
                 
            </div>
            <!-- End Sidebar Widget Right1 - Xem nhiều-->

            <!-- Sidebar Widget -->
            <!-- <div class="single-sidebar-widget">
                <a href="#" class="add-img"><img src="img/bg-img/add.png" alt="">Đặt quảng cáo ở đây</a>
            </div> -->
            
            <!-- Sidebar Widget Right2- Chuyên mục-->
            <div class="single-sidebar-widget p-30">
                <!-- Section Title -->
                <div class="section-heading">
                    <h5>Chuyên mục</h5>
                </div>

                <!-- Catagory Widget -->
                <ul class="catagory-widgets">
                    <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Thời sự</span> <span>100</span></a></li>
                    <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Kinh doanh</span> <span>30</span></a></li>
                    <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Nông sản</span> <span>13</span></a></li>
                    <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Hải sản</span> <span>17</span></a></li>
                    <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Đời sống</span> <span>250</span></a></li>
                    <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Văn hóa</span> <span>55</span></a></li>
                    <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Điện ảnh  </span> <span>70</span></a></li>
                    <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Du lịch  </span> <span>15</span></a></li>
                    <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Thời trang  </span> <span>50</span></a></li>
                    <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Sức khỏe  </span> <span>40</span></a></li>
                    <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Ẩm thực  </span> <span>20</span></a></li>
                    <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Khoa học  </span> <span>67</span></a></li>
                    <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Phát minh  </span> <span>36</span></a></li>
                    <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Công nghệ  </span> <span>31</span></a></li>
                </ul>
            </div>
             <!--End Sidebar Widget Right2- Chuyên mục-->

                
            <!-- Sidebar Widget Right2- Xu hướng-->
            <div class="single-sidebar-widget p-30" >
                <!-- Section Title -->
                <div class="section-heading">
                    <h5>Xu hướng</h5>
                </div>

                <!-- Catagory Widget -->
               
                <div class="tagname" >
                <a class ="tagname1"href="danhsachbaiviet.html">Thor</a>
                <a class ="tagname2"href="danhsachbaiviet.html">Spiderman</a>
                <a class ="tagname4"href="danhsachbaiviet.html">Endgame</a>
                <a class ="tagname7"href="danhsachbaiviet.html">Nguyễn Bá Cảnh</a>
                <a class ="tagname2"href="danhsachbaiviet.html">gây án</a>
                <a class ="tagname5"href="danhsachbaiviet.html">khởi tố</a>
                <a class ="tagname3"href="danhsachbaiviet.html">sơn tùng</a>
                <a class ="tagname7"href="danhsachbaiviet.html">Mỹ Tâm</a>
                <a class ="tagname8"href="danhsachbaiviet.html">Marvel</a>
                <a class ="tagname1"href="danhsachbaiviet.html">Blackpink</a>
                <a class ="tagname3"href="danhsachbaiviet.html">tử vong</a>
                <a class ="tagname2"href="danhsachbaiviet.html">thời trang</a>
                <a class ="tagname7"href="danhsachbaiviet.html">món ăn</a>
                <a class ="tagname2"href="danhsachbaiviet.html">vợ giết chồng</a>
                <a class ="tagname4"href="danhsachbaiviet.html">nhậu say</a>
                <a class ="tagname2"href="danhsachbaiviet.html">Kim Jong-Un</a>
                <a class ="tagname1"href="danhsachbaiviet.html">Primary</a>
                <a class ="tagname8"href="danhsachbaiviet.html">ngoại hạng anh</a>
                <a class ="tagname5"href="danhsachbaiviet.html">vui nhộn</a>
                <a class ="tagname3"href="danhsachbaiviet.html">bóng đá</a>
                <a class ="tagname2"href="danhsachbaiviet.html">obama</a>
                <a class ="tagname6"href="danhsachbaiviet.html">giáo dục</a>
                <a class ="tagname3"href="danhsachbaiviet.html">dâm ô</a>
                <a class ="tagname2"href="danhsachbaiviet.html">giết người</a>
                <a class ="tagname1"href="danhsachbaiviet.html">blackpink</a>
                <a class ="tagname4"href="danhsachbaiviet.html">bỏ chạy</a>
                <a class ="tagname1"href="danhsachbaiviet.html">đâm xe</a>
                <a class ="tagname7"href="danhsachbaiviet.html">khởi tố</a>
                <a class ="tagname8"href="danhsachbaiviet.html">Captain</a>
                <a class ="tagname6"href="danhsachbaiviet.html">truyền hình</a>
                <a class ="tagname4"href="danhsachbaiviet.html">Ấu dâm</a>
                <a class ="tagname5"href="danhsachbaiviet.html">Trung Quốc</a>
                <a class ="tagname2"href="danhsachbaiviet.html">ma túy</a>
                <a class ="tagname4"href="danhsachbaiviet.html">người nổi tiếng</a>
                <a class ="tagname8"href="danhsachbaiviet.html">Trấn Thành</a>
                <a class ="tagname1"href="danhsachbaiviet.html">li dị</a>
                <a class ="tagname7"href="danhsachbaiviet.html">thủ tục</a>
                <a class ="tagname5"href="danhsachbaiviet.html">pháp luật</a>
                <a class ="tagname6"href="danhsachbaiviet.html">hot</a>
                <a class ="tagname3"href="danhsachbaiviet.html">ô tô</a>

                </div>
                <!--end catagory widget-->
            </div>
             <!--End Sidebar Widget Right2- Xu hướng-->

            </div>
        </div>
    </section>
    <!-- ##### Mag Posts Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                     <div class="footer-widget">
                        <!-- Logo -->
                        <a href="index.html" class="foo-logo"><img src="../img/core-img/logo2.png" alt=""></a>
                        <p> Project web - Team 28 </br>
                        Teacher: Ngô Ngọc Đăng Khoa</br>
                        
                        1512325 – Tran Le Nguyen Hoang Minh</br>
                        1512281 – Đao Manh Linh</br>
                        1612749 – Phan Bao Trung</br>

                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget">
                        <h6 class="widget-title">CATEGORYS</h6>
                        <nav class="footer-widget-nav">
                            

                            <ul >
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> News</span> </a></li>
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Bussiness</span> </a></li>
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i>Agricultural</span> </a></li>
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i>Seafood</span> </a></li>
                                <!-- <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Đời sống</span> </a></li> -->
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Cutural</span> </a></li>
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i>Films </span> </a></li>
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Travel  </span> </a></li>
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i>Fashion  </span> </a></li>
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Health </span> </a></li>
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i>Food </span> </a></li>
                                <!-- <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Khoa học  </span></a></li> -->
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Invention  </span> </a></li>
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Technology  </span> </a></li>
                            
                            </ul>
                        </nav>
                    </div>
                </div>

                
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-6">
                      <div class="footer-widget">
                        <h6 class="widget-title">TAG</h6>
                        <ul class="footer-tags">
                            <li><a href="danhsachbaiviet.html">endgame</a></li>
                            <li><a href="danhsachbaiviet.html">film</a></li>
                
                            <li><a href="danhsachbaiviet.html">action</a></li>
                            <li><a href="danhsachbaiviet.html">mtp</a></li>
                            <li><a href="danhsachbaiviet.html">marvel</a></li>
                            <li><a href="danhsachbaiviet.html">idol</a></li>
                            <li><a href="danhsachbaiviet.html">scandal</a></li>
                            <li><a href="danhsachbaiviet.html">President</a></li>
                            <li><a href="danhsachbaiviet.html">kim jong-un</a></li>
                            <li><a href="danhsachbaiviet.html">Rule</a></li>
                            <li><a href="danhsachbaiviet.html">Dangerous</a></li>
                            <li><a href="danhsachbaiviet.html">Cars</a></li>
                            <li><a href="danhsachbaiviet.html">Terrorism</a></li>
                            <li><a href="danhsachbaiviet.html">Fananci</a></li>
                             <li><a href="danhsachbaiviet.html">War</a></li>
                            <li><a href="danhsachbaiviet.html">watch out</a></li>
                            <li><a href="danhsachbaiviet.html">fun</a></li>
                            <li><a href="danhsachbaiviet.html">Fashion</a></li>
                            <li><a href="danhsachbaiviet.html">food</a></li>
                            <li><a href="danhsachbaiviet.html">kill husband</a></li>
                            
                            <li><a href="danhsachbaiviet.html">soccer</a></li>
                            <li><a href="danhsachbaiviet.html">laliga champion cup</a></li>
                            <li><a href="danhsachbaiviet.html">fun video</a></li>
                            <li><a href="danhsachbaiviet.html">obama</a></li>
                            <li><a href="danhsachbaiviet.html">Education</a></li>
                            

                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="../js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="../js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="../js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="../js/active.js"></script>


</body>

</html>